spawn-at-startup "dbus-update-activation-environment --systemd --all"
spawn-at-startup "noctalia-shell"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "/run/current-system/sw/libexec/polkit-kde-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "clash-verge" "--minimized"

spawn-at-startup "/run/current-system/sw/libexec/polkit-kde-authentication-agent-1"

spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "systemctl" "--user" "start" "wayland-session.target"